<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin_add_category">category add</a><br>
<a href="/admin_add_view_cat">category view</a><br>
<a href="/admin_add_seller_request">view approval and seller</a><br>
<a href="/admin_add_view_approved_seller">view approved sellers</a><br>
<a href="/admin_add_view_rejected_seller">view rejected sellers</a><br>
<a href="/admin_add_view_complaint_and_send_replay">view complaints and send reply</a><br>
</body>
</html>