{% extends"admin/index.html" %}
{% block body %}
    <form id="form1" name="form1" method="post" action="/admin_approved_or_reject_seller_search_post">
  <table class="pull-right">
    <tr>
      <td colspan="5">
      <input type="text" name="textfield" id="textfield" class="form-control" placeholder ="Name" /></td>
      <td><input type="submit" name="button" id="button" value="search" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
<table class="table table-striped">
    <tr>
      <th>s/no.</th>
      <th>name</th>
      <th>phone</th>
      <th>email</th>
      <th colspan="2">address</th>
    </tr>
               {% for i in f %}

    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i['sel_name' ]}}   <img src=" {{ i['sel_image'] }}" width="100" height="100"/></td>

    <td>{{ i['sel_phn'] }}</td>
    <td>{{ i['sel_email'] }}</td>
     <td>{{ i['sel_place'] }}<br> {{ i['sel_post'] }}<br> {{ i['sel_pin'] }}&nbsp;</td>
    </tr>

{% endfor %}
  </table>
{% endblock %}