{% extends"seller/seller_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="pull-right">
    <tr>
      <td colspan="2">date
        <label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
      <td colspan="2">To
        <label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required /></td>
      <td colspan="2"><input type="submit" name="button" id="button" value="Search"  clas="btn btn-info"/></td>
    </tr>
    <tr>
      <th width="21">#</th>
      <th width="55">date</th>
      <th width="35">customer information</th>
      <th width="59">phone number</th>
      <th width="59">address</th>
      <th width="115">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">more</a></td>
    </tr>
  </table>
</form>
{% endblock %}