<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/seller_view_seller_profile">view profile</a><br>
<a href="/seller_add_product">product add</a><br>
<a href="/seller_product_view">product view</a><br>
<a href="/seller_add_delivary_boy">delivary boy add</a><br>
<a href="/seller_delivary_boy_management_view">delivary boy view</a><br>
<a href="/seller_view_order_and_payment_details"> view order and payment details</a><br>
<a href="/seller_view_delivary_status">view delivery status</a><br>
<a href="/seller_view_rating_and_review">view rating and review</a><br>
</body>
</html>