{% extends"seller/seller_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <th>S/no</th>
      <th>User name</th>
        <th>Photo</th>
        <th>Date</th>
      <th>Review</th>

      <th>Rating</th>

    </tr>
    {% for i in range(0,ln) %}

    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ data[i]['name'] }}&nbsp;</td>
        <td><img src="{{ data[i]['Photo'] }}" width="60px" height="60px"/></td>
        <td>{{ data[i]['date'] }}</td>
      <td>{{ data[i]['review'] }}&nbsp;</td>
      <td><img src="{{ r1[i][0] }}" width="20" height="20">
        <img src="{{ r1[i][1] }}" width="20" height="20">
        <img src="{{ r1[i][2] }}" width="20" height="20">
        <img src="{{ r1[i][3] }}" width="20" height="20">
        <img src="{{ r1[i][4] }}" width="20" height="20"></td>

    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}